# SPDX-License-Identifier: GPL-3.0-or-later or MIT

/.gdbinit
/.lldbinit

/.config.unix*
/.config.win32*
/.platform
/*.manifest

/build.*/*
/Documentation/build
/!build.*/locale
/!build.*/scripts
/!build.*/t

/include/generated
/include/arch

/tests/unit/unitest.h

/locale/*~
/locale/generated.pot
/locale/messages.po

/EastAsianWidth.txt

/tres*
/build

/scripts/libkit.py

# みくみくにしてあげる♪
*.ico
*.rc
*.manifest.in
VERSION

/locale/**/*.mo
