# SPDX-License-Identifier: GPL-3.0-or-later or MIT

/.gdbinit
/.lldbinit

/.config.unix*
/.config.win32*
/.platform
/*.manifest

/build
/build.*/*
/Documentation/build

/include/generated
/include/arch

/tres
/tres.*
/tests/unit/unitest.h

/locale/*~
/locale/generated.pot
/locale/messages.po
/share/locale

/EastAsianWidth.txt

/scripts/libkit.py

# みくみくにしてあげる♪
*.ico
*.rc
*.manifest.in
VERSION

/locale/**/*.mo
